.ModalMask
{
width: 100%;
height: 100%;
top:0;
left:0;
background: black;
position : fixed;
opacity: 70%;
}

.Modal
{
width:723px;
min-width:723px;
height:375px;
min-height:375px;
background-color:black;
position:fixed;
top:0;
left:0;
bottom:0;
right:0;
margin:auto;
border:2px solid white;
overflow:auto;
opacity:85%
}

.cross
{
float:right;
padding:2px 7px;
cursor:pointer;
color:white;
}

.cross:hover
{
border: 2px solid white;
background: linear-gradient(to top,white,white);
color:black;
}

.n
{
margin-left:250px;
margin-top:75px;
font-family: 'Trebuchet MS', sans-serif;
background: none;
color:white;
padding:5px;
font-size:18px;
border:1px solid grey;
}
.n:hover
{
border:2px solid white;
}

.r_em
{
margin-left:250px;
margin-top:5px;
font-family: 'Trebuchet MS', sans-serif;
background: none;
color:white;
padding:5px;
font-size:18px;
border:1px solid grey;
}

.r_em:hover
{
border:2px solid white;
}

.phn
{
margin-left:250px;
margin-top:5px;
font-family: 'Trebuchet MS', sans-serif;
background: none;
color:white;
padding:5px;
font-size:18px;
border:1px solid grey;
}

.phn:hover
{
border:2px solid white;
}

.r_ws
{
margin-left:250px;
margin-top:5px;
font-family: 'Trebuchet MS', sans-serif;
background: none;
color:white;
padding:5px;
font-size:18px;
border:1px solid grey;
}

.r_ws:hover
{
border:2px solid white;
}

.r_btn
{
font-size: 18px;
width:20%;
background: none;
border: 2px solid white;
color: white;
padding: 5px ;
cursor: pointer;
font-weight:bold; 
margin-left:285px;
margin-top:15px;
font-family: 'Trebuchet MS', sans-serif;
}

.r_btn:hover
{
background: linear-gradient(to top,white,white);
color: black;
}



body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.error
{
font-family: 'Trebuchet MS', sans-serif;
color:white;
font-size: 18px;
font-weight:bold;
background:red;
}
